@model MeetingInfo
@{
ViewBag.Title = "Toplanti Başvurusu";
Layout = "_Layout2";
}
<!-- <h1 class="h4">@ViewBag.Selamlama, @ViewBag.UserName</h1> -->
<h1 class="h4">@ViewData["Selamlama"], @ViewData["UserName"]</h1>
<p>Toplanti Katilim Durumunuzu bildiriniz</p>
<div class="car my-2">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Location</li>
        <li class="list-group-item">@Model.Date.ToString("dd/MM/yyyy HH:mm:ss") Tarihinde Gerceklesecek </li>
        <li class="list-group-item">@Model.NumberOfPeople Katilimci</li>
    </ul>
</div>
<a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvuru yap</a>